##Directory in which MakeAtlas scripts are
###################################
##input: input/output dir, cases, suffixes (transform, DTI, rigid_registration)
###################################
##The files must have the following structure: dir/case/case_suffix
##Cases to process
set( CASES F-01 L-03 N-01 CC-04 LLL-04 )
##subdirectory in cases directories: Be careful, if empty, set to .
Set( INPUT_SUB_DIR NIRALProc )
##suffix of the image used to register the image to the atlas to compute segmentation
set( RIGID_REGISTRATION_IMAGE_SUFFIX _idwi_toTemplate.nhdr )
##Rigid or only affine registration
set( Rigid FALSE )
##Register the images or not (skips both rigid and affine registration if set to FALSE )
set( Registration TRUE )
##input dir, root directory of the cases
set( dir /rodent/FAS_sulik/DTI08/PN45ChallengeGrant )
##directory in which temporary files are written
set( tempDir /rodent/FAS_sulik/DTI08/PN45ChallengeGrant/temp )
##if scalar image (TRUE or FALSE)
set( IS_SCALAR FALSE )
##Suffix of MD image
set( MD_SUFFIX _dti_f_toTemplate_MD.nhdr )
##Suffix of FA image
set( FA_SUFFIX _dti_f_toTemplate_FA.nhdr )
##was the input image scaled to 1,1,1
set( IS_SCALED TRUE )
##Number of loops: sequence(seq 0 NB_LOOPS 1)
sequence(seq 0 0 1)
###################################
#ABC parameters, suffixes
###################################
##type of image used for segmentation. Can hold multiple types
set( ABC_IMAGE_SUFFIX _idwi_toTemplate.nhdr )
##atlas for brain stripping and parcellation
set (ATLAS_DIR /tools/atlas/Rodent/C57BL6J_Brookhaven/probaMaps)
###################################
#Extra parameters. Normally no need to modified
###################################
##Atlas files. One file must be called template.${ext}
set( ATLAS_FILES 1.mha 2.mha 3.mha 4.mha template.mha )
##atlas grid filename
set( ATLAS_GRID AtlasGrid.nrrd )
##directory in which to find "rreg_rigid.params" and "rreg_TO_TEMPLATE.param"
set( CONFIGDIR /rodent/bin_linux64/MakeAtlas/SkullStrip )
##subdirectory in the case directory in which to save new case files (mask and parcellation)
set( PROCESS_SUBDIR NIRALProc_SS )
##Closing radius to smooth mask computed from segmentation
set( MASK_CLOSING_RADIUS 5 )
##suffix of the mask created from the segmentation
set( NEW_MASK_TAG _mask_from_seg )
##output files extension
set( extension nrrd )
##suffix of segmentation files
set ( ABCSUFFIX seg )
##ABC Priors
set( PRIOR1 1)
set( PRIOR2 1)
set( PRIOR3 1)
set( PRIOR4 1)
###################################
##Set up path of executables. If binaries can be found in the path, just set it to ''
##If directory needs to be set, do not forget '/' at the end
#ABC
set( ABCDIR '' )
#SegPostProcessCLP
set( SegPostProcessCLPDIR '' )
#ImageMath
set( ImageMathDIR '' )
#ResampleVolume2
set( ResampleVolume2DIR '' )
#rreg
set( rregDIR '' )
#transformation
set( transformationDIR '' )
#areg
set( aregDIR '' )
###################################
##Processes
#include( ${scriptDir}/000MakeAtlas.bms )
include( /biomed-resimg/rodent/SherylMoy/processing/SkullStrip/000SkullStrip.bms )
